<div class="container top-height">
  <h2 class="text-center">Edit user</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put, class: "form-horizontal"}) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email:</label>
        <div class="col-sm-8">
          <%= f.text_field :email, id: "email", class: "form-control", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <label for="username" class="col-sm-2 control-label">Name:</label>
        <div class="col-sm-8">
          <%= f.text_field :username, id: "username", class: "form-control" %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Password:</label>
        <div class="col-sm-8">
          <%= f.password_field :password, id: "password", class: "form-control", autocomplete: "off", placeholder: "#{@minimum_password_length} caracteres mínimos" %>
        </div>
      </div>

      <div class="form-group">
        <label for="password_confirmation" class="col-sm-2 control-label">Password confirmation:</label>
        <div class="col-sm-8">
          <%= f.password_field :password_confirmation, id: "password_confirmation", class: "form-control", autocomplete: "off" %>
        </div>
      </div>

      <div class="form-group">
        <label for="current_password" class="col-sm-2 control-label">Current password:</label>
        <div class="col-sm-8">
          <%= f.password_field :current_password, id: "current_password", class: "form-control", autocomplete: "off", placeholder: "Es necesario que introdusca la contraseña actual para validad la acción" %>
        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
          <%= f.submit "Update", class: "btn btn-default btn-primary" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
          <h3>Unhappy?</h3>
          <%= button_to "Cancel my account", registration_path(resource_name), data: {confirm: "Are you shure?"}, method: :delete, class: "btn btn-default btn-danger" %>
        </div>
      </div>

  <% end %>

</div>
