<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Online Shop', root_path, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if !user_signed_in? %>
            <li class=""><%= link_to 'Sign in', new_user_session_path %></li>
            <li class=""><%= link_to 'Register', new_user_registration_path %></li>
        <% end %>
        <li class="<%= 'active' if params[:controller] == 'home' %>"><%= link_to 'Home', root_path %></li>
        <li class="<%= 'active' if params[:controller] == 'product' %>"><%= link_to 'Products', products_path %></li>

        <% if user_signed_in? %>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.username %>
                  <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Edit user', edit_user_registration_path%></li>
                  <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>

                </ul>
              </li>
            </ul>
        <% end %>      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
